body {
	background-color: #F0FFFF
}

.container {
	margin: auto;
	width: 1000px;
}

header {
	height: 105%;
	right: 50%;
	left: 50%;
	
}

header p{

	margin-right: 50px;
	margin-left: 50px;
	font-size: 20px;
	text-align: center;
	color: black;
	text-shadow: 0.1em 0.1em 0.2em 	#F0F8FF;
	font-family: "Old London", "sans-serif", "Lucida";
}

header h1 {
	font-family: "Old London", "Lucida", "sans-serif";
	color: black;
	text-align: center;
	margin-right: 50px;
}


#danca{
	background: -webkit-gradient(linear, left top, left bottom, from(#B0E0E6), to(#B0E0E6));
	width: 48%;
	height: auto;
	float: left;
}

#danca{
	background: -webkit-gradient(linear, left top, left bottom, from(#B0E0E6), to(#B0E0E6)); 
	width: 48%;
	height: auto;
	float: right;
	margin-top: 10px; 
    margin-right: 10px;
    margin-bottom: 20px;
}

h2{
	text-align: center;
	background: #E0FFFF;
	color: black;
}

footer{
	clear: both;
	font-family: "Lucida", "sans-serif";
	color: black;
	text-shadow: 0.1em 0.1em 0.2em #fff;
	text-align: center;

	